/*!
Theme Name: weable V4
Theme URI: https://them.es/starter
Author: weable
Author URI: https://weable.vn
Description: Thiết kế bởi weable
Version: 2.4.4
Requires at least: 5.0
Tested up to: 5.7
Requires PHP: 7.2
License: GPL version 2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0
Tags: custom-background, custom-colors, featured-images, flexible-header, microformats, post-formats, rtl-language-support, theme-options, translation-ready, accessibility-ready
Text Domain: weable-v4
*/

/* Don't overwrite this file. Compile "/assets/main.(less|scss)" to "/assets/css/main.css" */


/* From http://codex.wordpress.org/CSS */
@font-face {
    font-family: 'Gilroy';
	src: url('./assets/font/SVN-GilroyMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'UTM-Avo';
    src: url('./assets/font/UTMAvoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
	--heading-font: 'UTM-Avo', sans-serif;
	--body-font: 'Gilroy', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	font-weight: bold!important;
}

a:hover {text-decoration: none!important;}

body {
	font-family: var(--body-font)!important;
	font-weight: normal!important;
}

strong {
	font-family: var(--body-font);
	font-weight: bold!important;
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

.gallery-item {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: 50%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	display: inline-block;
	max-width: 100%;
}

.gallery-item a img {
	display: block;
	-webkit-transition: -webkit-filter 0.2s ease-in;
	transition: -webkit-filter 0.2s ease-in;
	transition: filter 0.2s ease-in;
	transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
	-webkit-filter: opacity(60%);
	filter: opacity(60%);
}

.gallery-caption {
	display: block;
	text-align: left;
	padding: 0 10px 0 0;
	margin-bottom: 0;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.bypostauthor {
	font-weight: bold;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.top-header  {
	background: #fff;
}

.top-header .logo {
	display: block;
	height: 80px;
}

/*========== CUSTOM CSS HERE ==========*/
.w-header, .w-footer {
	background: #f2f3f5;
	text-align: center;
	padding: 20px 0;
	position: relative;
	z-index: 99;
}


.w-block-demo-1 {
	background: var(--teal)
}

.w-block-demo-2 {
	background: var(--cyan)
}

.w-block-demo-1,
.w-block-demo-2 {
	padding: 150px 0;
	text-align: center;
	margin: 30px 0;
	color: #fff
}

.align-full {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: calc(100vw - 18.88888px);
}

code { 
    color: var(--danger)!important
}
.img-wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 56.25%;
}
.img-wrap img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}
img{
	display: inline-block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

.gallery-item {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: 50%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	display: inline-block;
	max-width: 100%;
}

.gallery-item a img {
	display: block;
	-webkit-transition: -webkit-filter 0.2s ease-in;
	transition: -webkit-filter 0.2s ease-in;
	transition: filter 0.2s ease-in;
	transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
	-webkit-filter: opacity(60%);
	filter: opacity(60%);
}

.gallery-caption {
	display: block;
	text-align: left;
	padding: 0 10px 0 0;
	margin-bottom: 0;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.bypostauthor {
	font-weight: bold;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

section{
	padding: 50px 0;
}

/* banner hero-module */
.w-hero-modules-style-1 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.w-hero-modules-style-1 .logo {
    max-width: 150px;
    margin: 0 auto;
}

.w-hero-modules-style-1 .content .title{
    margin-top: 20px;
}

.w-hero-modules-style-1 .content .desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    width: 60%;
    padding: 30px 0;
    margin: 0 auto;
}

.w-hero-modules-style-1 .images .img-wrap{
    padding-top: 65%;
	
}

.w-hero-modules-style-1 .images .img-wrap img{
	border-radius: 10px;
}

/* banner hero-module / style 2 */

.w-hero-modules-style-2 {
	position: relative;
	padding-top: 100px;
	margin-bottom: 0 !important;
}
.w-hero-modules-style-2 .background {
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom 160%;
	width: 100%;
	height: 80vh;
	right: 0;
	bottom: 45px;
}

.w-hero-modules-style-2 .content {
	padding: 10% 0;
}

.w-hero-modules-style-2 .content .title {
   margin: 10px 0;
}

.w-hero-modules-style-2 .content .desc {
	font-weight: 500;
	font-size: 16px;
	line-height: 17px;
	padding: 20px 0;
}

/* banner hero module /style 3 */
	.w-hero-modules-style-3 {
	position: relative;
	margin-bottom: 0 !important;
	padding: 100px 0;
	
  }
  .w-hero-modules-style-3 .background {
	  position: absolute;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center top 100%;
	  width: 100%;
	  height: 76vh;
	  right: 0;
	  bottom: 0;
  }

  .w-hero-modules-style-3 .content {
	  padding: 10% 0;
  }

  .w-hero-modules-style-3 .content .title {
	 margin: 10px 0;
	 color: #fff;
  }

  .w-hero-modules-style-3 .content .desc {
	  font-weight: 500;
	  font-size: 16px;
	  line-height: 17px;
	  padding: 20px 0;
	  color: #fff;
  }

  /* banner hero-module / styte 4 */

  .w-hero-modules-style-4 .background {
	position: relative;
	background: linear-gradient(180deg, rgba(73, 188, 246, 0.8) 0%, rgba(73, 222, 178, 0.8) 100%), url(./assets/images/background-4.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 65vh;
	left: 0;
	top: 0;
	z-index: 1;
}

.w-hero-modules-style-4 .content {
	position: absolute;
	z-index: 99;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, -200%);
	text-align: center;
	width: 100%;
}

.w-hero-modules-style-4 .content .title {
   margin: 10px 0;
   font-size: 40px;
   color: #fff;
}

.w-hero-modules-style-4 .content .desc {
	font-weight: 500;
	font-size: 28px;
	line-height: 17px;
	padding: 20px 0;
	color: #fff;
}

.w-hero-modules-style-4 .box-content{
	border: 1px solid #FD7E14;
	box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.176);
	border-radius: 16px;
	display: flex;
	justify-content: space-around;
	padding: 40px 0;
	position: relative;
	background: #fff;
	top: -72px;
	z-index: 999;
}

.w-hero-modules-style-4 .box-content .box-item {
	text-align: center;
}

.w-hero-modules-style-4 .box-content .box-item .number{
	font-size: 32px;
	color: #FD7E14;
}

.w-hero-modules-style-4 .box-content .box-item .title{
	font-weight: 700;
	font-size: 20px;
}

/* banner hero module /style 5 */
.w-hero-modules-style-5 .background {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 65vh;
	right: 1px;
	top: 0;
	z-index: 1;
}

.w-hero-modules-style-5 .content{
	position: absolute;
    top: 50%;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, -200%);
    width: 100%;
	color: #fff;
	text-align: center;
}

.w-hero-modules-style-5 .content .title{
	color: #FFC107;
	font-size: 40px;
	margin-bottom: 20px;
}

.w-hero-modules-style-5 .content .h-title{
	font-size: 28px;
	margin-bottom: 20px;
}

.w-hero-modules-style-5 .content .desc{
	font-size: 18px;
}

.form-group{
	margin-bottom: 0 !important;
}


/* responsive */
@media (max-width: 1399px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
	/* banner hero-module */

	.w-hero-modules-style-1 .content .desc {
		width: 100%;
		padding: 16px 0;
	}
	.w-hero-modules-style-1 {
		padding-top: 20px !important;
		padding-bottom: 0 !important;
	}

	/*  banner hero-module /style 2 */
	.w-hero-modules-style-2{
		padding: 10px 0;
	}
	.w-hero-modules-style-2 .background {
		display: none;
	}

	.w-hero-modules-style-2 .content{
		text-align: center;
	}

	.w-hero-modules-style-2 .content .title {
		font-size: 30px;
	}

	.w-hero-modules-style-2 .content .btns{
	   text-align: center;
	}

	.w-hero-modules-style-2 .content .btns .btn-info{
		margin-top: 10px;
		padding: 5px 26px ;
	}
	.w-hero-modules-style-1 .images .mg{
		margin: 10px 0;
	}
	/* banner hero module /style 3 */
	.w-hero-modules-style-3{
		padding: 10px 0;
	}
	.w-hero-modules-style-3 .background {
		display: none;
	}

	.w-hero-modules-style-3 .content{
		text-align: center;
	}

	.w-hero-modules-style-3 .content .title {
		font-size: 30px;
		color: #000;
	}

	.w-hero-modules-style-3 .content .desc{
		color: #000;
	}

	.w-hero-modules-style-3 .content .btns{
	   text-align: center;
	}

	.w-hero-modules-style-3 .content .btns .btn-info{
		margin-top: 10px;
		padding: 5px 26px ;
	}

	/* banner hero module /style 4 */
	.w-hero-modules-style-4 .background{
		height: 30vh;
	}
	.w-hero-modules-style-4 .box-content{
		flex-wrap: wrap;
	}
	

	.w-hero-modules-style-4 .box-content .box-item .number{
		font-size: 24px;
	}
	.w-hero-modules-style-4 .box-content .box-item .title{
		font-size: 18px;
	}

	.w-hero-modules-style-4 .content .title{
		font-size: 30px;
	}

	/* banner hero module /style 5 */

	
}

@media (max-width: 767px) {
	/* banner hero-module */

		.page-content-wrapper h3{
			font-size: 20px;
		}
		.w-hero-modules-style-1 .content .title{
			font-size: 26px;
		}

		.w-hero-modules-style-1 .content .btn{
			margin: 10px 0;
		}

		.w-hero-modules-style-1 .images .mt-5{
			margin-top: 0 !important;
		}

		
	/*  banner hero-module /style 2 */

	/* banner hero module /style 4 */
	.w-hero-modules-style-4 .background{
		height: 50vh;
	}
	.w-hero-modules-style-4 .content{
		transform: translate(-50%, -340%);
	}

	.w-hero-modules-style-4 .box-content{
		top: -38%;
	}

	.w-hero-modules-style-4 .content .desc{
		font-size: 20px;
	}

	/* banner hero module /style 5 */

	
}

@media (max-width: 650px) {}

@media (max-width: 574px) {}